<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="errorText" style="color: red;"></p>
        <p id="locationText" style="color: darkmagenta;"></p>
        <p id="forecastText" style="color:green;"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>